@use "styles/mixins" as *;

$responsive: 1250px;

.etfCreator {
  display: flex;
  gap: var(--size-6);
  align-items: flex-start;

  @include max($responsive) {
    flex-direction: column;
  }
}

.leftColumn,
.rightColumn {
  display: flex;
  flex-direction: column;
  gap: var(--size-6);
  flex: 1;
  min-width: 0;

  @include max($responsive) {
    flex: 1;
    width: 100%;
  }
}
