@use "styles/mixins" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-s);
  z-index: 100;
  top: 0;
  position: sticky;
  pointer-events: none;
  padding: calc(32px + 16 * (100vw - 320px) / 1080) 0;

  button,
  a {
    pointer-events: auto;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: linear-gradient(to bottom, var(--body), rgba(0, 0, 0, 0));
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--container-width);
  max-width: var(--container-max);
  margin: auto;
}

.logotype {
  height: var(--size-7);
  margin-bottom: var(--size-1-5);
  overflow: visible;
  display: block;
  margin-left: var(--size-2);

  svg {
    height: 100%;
    overflow: visible;
  }

  @include max($responsiveMobile) {
    height: var(--size-6);
  }
}

.right {
  display: flex;
  margin-left: auto;
  gap: var(--size-2);
}
