@use "styles/mixins" as *;

.overlay {
  @include backdrop;
  position: fixed;
  inset: 0;
  z-index: 9000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: scroll;
  background-color: var(--modal-overlay);
  padding: var(--main-padding);
  @include no-scrollbar;

  &Close {
    position: fixed;
    inset: 0;
    z-index: 0;
  }

  @include max($responsiveNav) {
    left: 0;
  }

  &.responsiveBottom {
    @include max($responsiveMobile) {
      align-items: flex-end;
      padding: 0;
      padding-top: var(--main-padding);

      .modal {
        margin: 0;
        width: 100%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.modal {
  --modal-padding: var(--size-10);
  position: relative;
  padding: var(--modal-padding);
  z-index: 10;
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: calc(var(--modal-padding) / 2);
  width: var(--modal-width, calc(450px + 100 * (100vw - 320px) / 1080));
  max-width: 100%;
  box-shadow: var(--modal-shadow);
  border-radius: var(--radius-l);
  background-color: var(--modal-bg);
  border: 1px solid var(--modal-border);

  &.full {
    min-height: 100%;
    border-radius: var(--radius-1);
  }

  &:not(.full) {
    animation: revealModal 0.3s;
    animation-fill-mode: both;
  }

  & > * {
    z-index: 5;
  }

  @keyframes revealModal {
    from {
      top: var(--size-10);
      @include auto-alpha(0);
    }
    to {
      top: 0;
      @include auto-alpha(1);
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.close {
  flex-shrink: 0;
}

.title {
  font-size: var(--size-6);
  font-weight: bold;
  margin: 0;
  flex: 1;
  text-align: center;
}
