@use "styles/mixins" as *;

@mixin sub($size, $index, $bnav: false) {
  @include max($size) {
    .list {
      li:nth-last-child(#{$index}) {
        display: none;
      }
    }

    .sub {
      li:nth-last-child(#{$index}) {
        display: inline-flex;
      }
    }

    @if $bnav {
      .bnav {
        display: inline-flex !important;
      }
    }
  }

  @if $bnav {
    @include min($size) {
      .sub {
        display: none;
      }
    }
  }
}

.bnav {
  display: none !important;

  @include min($responsiveNav) {
    margin-right: calc(var(--size-1-5) * 1);
  }
}

.nav {
  --padding: var(--size-1-5);
  display: flex;
  align-items: center;
  font-size: var(--size-3-5);
  border-radius: var(--radius-rounded);
  position: relative;
  gap: var(--size-8);
  box-shadow: var(--shadow-m);
  margin-left: var(--size-8);

  @include sub(1500px, 1, true);
  @include sub(1400px, 2);

  @include max($responsiveNav) {
    order: 3;
    margin-left: var(--size-1-5);
  }

  a {
    transition: all 0.2s ease;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;

    &.active,
    &:hover {
      color: var(--blue);
    }

    &.active {
      &::before {
        content: "";
        inset: -5px -12px;
        position: absolute;
        border-radius: var(--radius-rounded);
        background: rgba(var(--blue-rgb), 0.1);
      }
    }
  }
}

.list {
  display: flex;
  align-items: center;
  gap: inherit;
  z-index: 5;

  @include max($responsiveNav) {
    &:not(.sub) {
      display: none;
    }
  }
}

.sub {
  @include transition(nav, (opacity, visibility));
  position: absolute;
  right: 0;
  top: 100%;
  background: var(--card-bg);
  border-radius: var(--radius-rounded);
  padding: 0.75em 1.5em;
  margin-top: var(--size-2);
  box-shadow: 0 16px 32px rgba(var(--dark-rgb), 0.075);
  border: 1px solid var(--card-border);
  @include auto-alpha(0);
  @include backdrop;

  &.open {
    @include auto-alpha(1);
  }

  @include min($responsiveNav) {
    li {
      display: none;
    }
  }

  @include max($responsiveNav) {
    flex-direction: column;
    border-radius: var(--radius-m);

    li {
      width: 100%;

      & > * {
        width: 100%;
        padding-right: calc(var(--btn-base-padding-x) * 2);
      }
    }
  }
}
